<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="footerMain">
                    <h3>This is major footer information</h3>
                </div>
                <div id="footerSub">
                    <h5>Irresistable Curves 2020</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <ul id="footerLinks_1">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul id="footerLinks_2">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>