@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Neuton:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* SHARED STYLES - Begin */
body {
  font: 14px 'Montserrat' "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f3f3;
}
a {
  color: #00B7FF;
}
ul {
  padding-left: 0;
}
.ul-inline {
  list-style: none;
  display: inline-block;
}
.ul-block {
  list-style: none;
  display: block;
}
.ul-inline li {
  display: inline-block;
}
.mainLink-light a {
  color: #e3dddf;
}
.mainLink-dark a {
  color: #190106;
}
.section-padding-sm {
  padding: 12px;
}
.section-padding-sm-b {
  padding-bottom: 12px;
}
.section-padding-md {
  padding: 25px;
}
.section-padding-md-b {
  padding-bottom: 25px;
}
.section-padding-lg {
  padding: 68px;
}
.section-padding-lg-b {
  padding-bottom: 68px;
}
.section-padding-xg {
  padding: 120px;
}
.section-padding-xg-b {
  padding-bottom: 120px;
}
.section-header {
  font-family: 'Dancing Script', cursive;
  color: rgba(250, 100, 151,.3);
  margin: 68px 0;
  font-size: 75px;
}
/* SHARED STYLES - End */

/* HEADER - Begin */
#topHeader {
  background: #190106;
  color: #fff;
  padding: 12px 0 9px 0;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid rgba(18,1,6,.9);
  font-weight: 900;
}
#topHeaderLinks a {
  color: #fa6497;
}
#bottomHeader {
  background: #0d0608;
  color: #e3dddf;
  padding: 12px 0 9px 0;
  box-shadow: 0 8px 10px #0d0608;
  border-top: 2px solid rgba(227,221,223,.03);
  border-bottom: 2px solid rgba(227,221,223,.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
/* #headerLogo a {
  display: inline-block;
  height: 70px;
  width: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/0252/0298/2960/files/monkeyseeanddo_360x.png?v=1589116197");
  background: pink;
} */
#bottomHeaderLinks ul li {
  padding: 28px 12px;
  font-weight: bold;
}
/* HEADER - End */

/* JUMBOTRON - Begin */
#hero {
  padding: 1px 0 0 150px;
  background-color: #effef7;
  background-image: url("https://source.unsplash.com/TZNB27fN350");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
#headline {
  font-family: 'Indie Flower', cursive;
  font-size: 110px;
  position: relative;
  top: 350px;
}
#subheading {
  font-family: 'Neuton', serif;
  font-weight: 100;
  font-size: 35px;
  position: relative;
  top: 150px;
}
/* JUMBOTRON - End */

/* HIGHLIGHTS - Start */
#highlights {
  background-color: #7cf8d3;
  font-family: 'Neuton', serif;
  font-size: 25px;
  color: #09a778;
  font-weight: bold;
  height: 100px;
  box-shadow: 0 5px 8px rgba(13,241,174,.25);
}
#highlights div {
  top: 30px;
}
/* HIGHLIGHTS - End */

/* PRODUCTS - Start */
#products ul {
  list-style: none;
}
.product-list-item {
  padding: 0 auto;
}
.product-item {
  margin: 0 auto;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 75px;
  padding-bottom: 25px;
  /* border: 2px solid rgba(227,221,223,.2); */
  box-shadow: 0 1px 8px rgba(250, 100, 151,.2);
}
.thumbnail {
  width: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 4px 4px;
  height: 400px;
}
.checked {
  color: orange;
}
.old-price {
  color: #777;
  font-weight: 100;
  text-decoration: line-through;
}
.new-price {
  font-weight: bold;
  font-size: 150%;
  color: #fa6497;
}
/* PRODUCTS - End */

/* FOOTER - Begin */
footer {
  padding-bottom: 75px;
  background: #0cdea1;
  color: #08946b;
}
#topFooter {
  height: 200px;
  background: #066e50;
  border-bottom: 2px solid rgba(1,17,13,.3);
  border-top: 2px solid rgba(148, 247, 217, 0.7 );
}
#bottomFooter {
  border-top: 2px solid rgba(148, 247, 217, 0.7 );
  height: 350px;
  /* bor */
}
#footerLinks a {
  color: #e3dddf;
}
/* #footerLogo a {
  display: inline-block;
  height: 70px;
  width: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/0252/0298/2960/files/monkeyseeanddo_360x.png?v=1589116197");
  background: pink;
} */
.footer-links {
  line-height: 200%;
}
#footerMessage {
}
/* FOOTER - End */

/* SINGLE ITEM - Start */
.item-view {
  height: 700px;
  width: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-images-list li {
  text-align: center;
  list-style: none;
  display: inline-block;
}
.item-details-section {
  /* padding-top: 18px; */
  padding-bottom: 25px;
}
.quantity-input {
  width: 4em;
  text-align: center;
}
.quantity-button  {
  border: 1px solid #888;
  box-shadow: 1px 1px 3px #888;
}
.quantity-input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=number] { 
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0; 
}
.size-item, .color-item {
  width: 4em;
  height: 2.8em;
  padding: .3em;
  cursor: pointer;
  font-size: smaller;
  text-align: center;
  margin-right: 10px;
  border: 4px solid #888;
}
.size-item:hover, .size-picker .active {
  color: #effef7;
  background-color: rgba(1,17,13,.3);
}
.size-picker .disabled, .size-picker .disabled:hover {
  color: #9f9f9f;
  border-color: #ccc;
  background-color: inherit;
}
.color-item:hover, .color-picker .active {
  border-color: #fa6497;
}
.item-details-info {
  /* padding-left: 15px; */
}
.item-details-heading * {
  /* padding-left: 15px; */
  display: inline-block;
}
.item-details-heading button {
  background: none;
  border: none;
}
.item-details-heading {
  border-top: 1px solid gray;
}
.item-details-info:last-child .item-details-heading {
  border-bottom: 1px solid gray;
}
.item-details-body ul {
  padding-left: 15px;
}
.reviewer-info-avatar {
  width: 5em;
  height: 5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7cf8d3;
}
/* SINGLE ITEM - End */