@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Neuton:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  font: 14px 'Montserrat' "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f3f3;
}
a {
  color: #00B7FF;
}
